.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  padding-left: 30px;
  padding-top: 30px;
}

@media (min-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  }
}

.heading {
  font-size: 48px;
  font-family: 'roboto';
  color: #333333;
}

.stopwatch-container {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 500px;
  min-height: 300px;
}

.clock-container {
  display: flex;
}

.timer-content {
  color: #333333;
  font-family: 'roboto';
  font-size: 20px;
}
.button-contianer {
  display: flex;
}
.start-button {
  background-color: #1db05f;
  padding: 10px;
  margin-left: 10px;
  width: 75px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.stop-button {
  background-color: #ef0d36;
  padding: 10px;
  margin-left: 10px;
  width: 75px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.restart-button {
  background-color: #eaa800;
  padding: 10px;
  margin-left: 10px;
  width: 75px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
